{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
   <div class="col-lg-6">
      <div class="box-element" id="form-wrapper">
         <form id="form">
            {% csrf_token %}
            <div id="user-info">
               <div class="form-field">
                  <input required class="form-control" type="text" name="name" placeholder="Name.." />
               </div>
               <div class="form-field">
                  <input required class="form-control" type="email" name="email" placeholder="Email.." />
               </div>
            </div>

            <div id="shipping-info">
               <hr />
               <p>Shipping Information:</p>
               <hr />
               <div class="form-field">
                  <input class="form-control" type="text" name="address" placeholder="Address.." />
               </div>
               <div class="form-field">
                  <input class="form-control" type="text" name="city" placeholder="City.." />
               </div>
               <div class="form-field">
                  <input class="form-control" type="text" name="state" placeholder="State.." />
               </div>
               <div class="form-field">
                  <input class="form-control" type="text" name="zipcode" placeholder="Zip code.." />
               </div>
               <div class="form-field">
                  <input class="form-control" type="text" name="country" placeholder="Zip code.." />
               </div>
            </div>

            <hr />
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue" />
         </form>
      </div>

      <br />
      <div class="box-element hidden" id="payment-info">
         <small>Paypal Options</small>
         <div id="paypal-button-container"></div>
      </div>
   </div>

   <div class="col-lg-6">
      <div class="box-element">
         <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
         <hr />
         <h3>Order Summary</h3>
         <hr />

         {% for item in items %}

         <div class="cart-row">
            <div style="flex: 2"><img class="row-image" src="{{ item.product.imageURL }}" /></div>
            <div style="flex: 2"><p>{{ item.product.name }}</p></div>
            <div style="flex: 1"><p>${{ item.product.price|floatformat:2 }}</p></div>
            <div style="flex: 1"><p>x{{ item.quantity }}</p></div>
         </div>

         {% endfor %}

         <h5>Items: {{ order.get_cart_items }}</h5>
         <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
      </div>
   </div>
</div>

<!-- PayPal API -->
<script src="https://www.paypal.com/sdk/js?client-id=Aea2ZfAeCxujP8TWN3gO7f9RbU-ffRb2Mk9xXF4pvzquFday7yWV3N3WQkGQSGoptyT8WjQtoXxzE2Ck&currency=RUB"></script>

<!-- PayPal Main script -->
<script>
   "use strict";

   let total = "{{ order.get_cart_total }}"; // Getting total price forn backend.

   // Paypal object.
   paypal
      // Paypal buttons object.
      .Buttons({
         // Buttons styling.
         style: {
            color: "blue",
            shape: "rect",
         },

         // Creating new order with total price from backend.
         createOrder: function (data, actions) {
            return actions.order.create({
               purchase_units: [
                  {
                     amount: {
                        value: parseFloat(total).toFixed(2), // Using total price from backend.
                     },
                  },
               ],
            });
         },

         // After user submittion and verification use submitFormData().
         onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
               submitFormData();
            });
         },
      })
      .render("#paypal-button-container"); // Rendering paypal form in special div tag.
</script>

<!-- Script: Getting user, shipping data and order creation submittion -->
<script>
   "use strict";

   let shipping = "{{ order.shipping }}"; // Getting a shipping state from backend.

   if (shipping == "False") document.getElementById("shipping-info").innerHTML = ""; // If shipping is Flase: Hide shipping form.

   if (user != "AnonymousUser") document.getElementById("user-info").innerHTML = ""; // If user is authanticated: Hide user sign up form.

   // If shipping is False and user is logged in: Hide both forms.
   if (shipping == "False" && user != "AnonymousUser") {
      document.getElementById("form-wrapper").classList.add("hidden");
      document.getElementById("payment-info").classList.remove("hidden");
   }

   let form = document.getElementById("form"); // Getting form for creating new csrf token.
   csrftoken = form.getElementsByTagName("input")[0].value; // Getting input with zero index with csrf token.

   // "Continue" button event handler. Hide and show Paypal form.
   form.addEventListener("submit", function (e) {
      e.preventDefault();
      document.getElementById("form-button").classList.add("hidden");
      document.getElementById("payment-info").classList.remove("hidden");
   });

   // Order and payment submittion.
   function submitFormData() {
      // Declare a dictionary with a guest user data.
      let userFormData = {
         name: null,
         email: null,
         total: total,
      };

      // Declare a dictionary with a shopping data.
      let shippingInfo = {
         address: null,
         city: null,
         state: null,
         zipcode: null,
      };

      // If shipping is not False: Fill shipping dictionary with data from shipping form.
      if (shipping != "False") {
         shippingInfo.address = form.address.value;
         shippingInfo.city = form.city.value;
         shippingInfo.state = form.state.value;
         shippingInfo.zipcode = form.zipcode.value;
      }

      // If a guest user: Fill user dictionary with data from user form.
      if (user == "AnonymousUser") {
         userFormData.name = form.name.value;
         userFormData.email = form.email.value;
      }

      let url = "/process_order/"; // The beginig of request.

      // Fetc(<begiging url>, request parameters).
      fetch(url, {
         // Method type.
         method: "POST",
         // Format and security token params.
         headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
         },
         // Json body.
         body: JSON.stringify({
            form: userFormData,
            shipping: shippingInfo,
         }),
      })
         // Promise state handler: Returns JSON response.
         .then((response) => response.json())
         // Promise state handler: Clear cart, create new cart cookie, redirect to store page.
         .then((data) => {
            cart = {};
            document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
            window.location.href = "{% url 'store' %}";
         });
   }
</script>

{% endblock content %}
